#root{
    overflow: hidden;
    max-height: 100vh;
}
.red {
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.heading{
    padding-top: 73px;
    font-family: 'Oswald', sans-serif;
    color: #dce775;
    font-size: 60px;
    font-weight: bold;
}
.text-block {
    width: 80%;
    margin-bottom: 25px;
    padding-top: 30px;
    padding-left: 0px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.button {
    width: 250px !important;
    display: inline-block;
    height: 50px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #dce775 !important;
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}
.button:hover{
    color: #dce775;
    background-color: white !important;
}
.twitter{
    margin-top: 18px;
}
.link {
    display: inline-block;
    margin-top: 18px;
    font-family: Oswald, sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-decoration: underline;
}
.link:hover{
    color: #dce775;
}